@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Mukta:wght@500&family=Noto+Sans:wght@600&family=Poppins:wght@600&display=swap');

/* font for paragharp
    font-family: 'Lato', sans-serif;
    font-family: 'Mukta', sans-serif;

   font for heading
    font-family: 'Noto Sans', sans-serif;

   font for nav bar
    font-family: 'Poppins', sans-serif;
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #eff4fd; */
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #fff9f9eb;
}
html{
    scroll-behavior: smooth;
}

/* ---------------------Nav-bar started ----------------------- */
.nav-bar{
    margin-top: 30px;
    margin-left: 50px;
    padding: 10px 10%;
}
.active-Contact{
    border-radius: 8px;
    background-color:  rgb(255, 157, 9); 
}
nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: wrap;

}
.logo{
    width: 80px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{
    color:rgb(33, 31, 31);
    text-decoration: none;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 10px;
}
nav ul li a:hover{
    border-radius: 8px;
    background-color:  rgb(255, 157, 9);
    cursor: pointer;
}




/* - ----------------------  Nav-bar ended  --------------------- */






/* ------------------------ about section started------------------ */

.boxs{
    display: flex;
}
.box1{
    margin-top:  250px;
    margin-left: 200px;
}
.box2{
margin-left: 54px;
margin-right: 50px;

}
.boxs .box2 img{
    height: 650px;
}
.box1 span{
   color: rgb(255, 158, 12); 
}
.box1 h1{
    font-weight: 600;
    font-size: 3.1rem;
    margin-bottom: 8px;
    font-family: 'Noto Sans', sans-serif;
}
.box1 p{
    color: rgb(90, 86, 86);
    font-size: 1.2rem;
    font-weight: 200;
    font-family: 'Lato', sans-serif;
}
.box1 .btn{
    font-size: 1.2rem;
    background-color: black ;
    color: white;
    border-radius: 5px;
    padding: 10px 18px;
    margin: 30px 0;
    font-family: 'Noto Sans', sans-serif;
}

.logos{
    margin-top: 30px;
    margin-left: -7px;
   
}
.logos i{
    text-decoration: none;
    color: #000000;
    padding: 8px;
    font-size: 1.3rem; 
    
}
.logos:hover{
    cursor: pointer;
}

/* ---------------------------About section ended ----------------------- */


/* ---------------------------small resume started ------------------------ */
.gird{
    display: flex;
}
.gird .gird1 img{
    height: 550px;
}
.gird1{
    margin-left: 10px;
}
.gird2{
    margin-top: 110px;
    margin-left: 90px;
    margin-right: 160px;
}
.gird2 .subtitle{
    font-size: 3.3rem;
    font-family: 'Noto Sans', sans-serif;
    margin-left: 10px;
    margin-bottom: 8px;
}
.gird2 p{
    font-size: 1.1rem;
    color: rgb(90, 86, 86);
    font-weight: 200;
    font-family: 'Lato', sans-serif;
}
#aboutme{
    margin-left: 10px;
}
.tab-section{
    margin-left: -7px;
    margin-top:8px;
    display: flex;
}
.tab-section p{
    box-shadow:3px 4px 1px 1px rgb(31, 26, 19);
    background-color:  rgb(228, 159, 54);
    padding: 8px;
    border-radius: 5px;
    margin: 15px;
    color: black;
    font-size: 1.1rem;
    font-family: 'Noto Sans', sans-serif;
}
.tab-section p:hover{
    cursor: pointer;
    background-color:  rgb(255, 157, 9);

}
.tab-contents{
    margin-left: 12px;
    display: none;
}
.tab-contents ul li{
    margin: 10px 0;
}
.tab-contents ul li span{
    
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px
}
.tab-contents.active-tab{
    display: block;
} 

/* ---------------------------small resume ended ------------------------ */



/* ---------------------------my service start --------------------------- */
#my-services{
    margin-top: 50px;
    margin-left: 155px;
    margin-right: 150px;
}
.ser-sections{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
#my-services .subtitle{
    font-size: 3.3rem;
    font-family: 'Noto Sans', sans-serif;
    margin-left: 10px;
    margin-bottom: 8px;
}
.ser-sections p{
    font-size: 1.1rem;
    color: rgb(90, 86, 86);
    font-family: 'Lato', sans-serif;
}

.ser-sections div{
    box-shadow:5px 4px 2px 1px rgb(69, 66, 63);
    background:white;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    transition: transform 0.5s;
    border-radius: 10px;

}
.ser-sections div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.ser-sections div h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}
.ser-sections div a{
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.ser-sections div p{
    margin-bottom: 20px;
}
.ser-sections div:hover{
  transform: translateY(-10px);

}


/* ---------------------------my service end --------------------------- */






/* ---------------------------- My Work start ---------------- */
#portfolio{
    margin-top: 50px;
    margin-left: 155px;
    margin-right: 150px
}
#portfolio .work h1{
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 5px;
    color: #fff;

}
#portfolio .work p{
    font-size: 1.1rem;
    color: rgb(220, 206, 206);
    font-family: 'Lato', sans-serif;
    
}

#portfolio .subtitle{
    font-size: 3.3rem;
    font-family: 'Noto Sans', sans-serif;
    margin-left: 10px;
    margin-bottom: 8px;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    box-shadow:5px 4px 2px 1px rgb(69, 66, 63);

    border-radius: 10px;
    position: relative;
    overflow: hidden;

}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.work-btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 10px 30px;
    border-radius: 6px;
    text-decoration: none;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500px;
}
.work-btn:hover{
    background-color: #ff004f;
}


/* ---------------------------- My Work  end ---------------- */






/* ----------------------------Contactme start------------------------- */

#contact-form{
    margin-top: 50px;
    margin-left: 155px;
    margin-right: 150px
}
 
#contact-form .subtitle{
    font-size: 3.3rem;
    font-family: 'Noto Sans', sans-serif;
    margin-left: 10px;
    margin-bottom: 8px;
}
#contact-form .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.row.Second-row{
    margin-left: 90px;
}
.first-row p{
    margin-left: 40px;
    margin-top: 30px;
}
.first-row p i{ 
    color: #ff004f;
    margin-right:15px;
    font-size: 25px;
}
.contact-icon{
    margin-left: 40px;
    margin-top: 30px;

}
.contact-icon a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #000000;
    display: inline-block;
    transition: transform 0.5s;
}
.contact-icon a:hover{
    color: #ff004f;
    transform: translate(-5px);
}
.Second-row form{
    
    width: 100%;
    margin-top: 10px;
}
.Second-row .btn{
    font-size: 1.2rem;
    background-color: black ;
    color: white;
    border-radius: 5px;
    padding: 15px 18px;
    margin: 15px 0;
    font-family: 'Noto Sans', sans-serif;
}
.Second-row .btn:hover{
  background-color: #305726;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #c8b8b8;
    padding: 10px;
    margin: 8px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.copyright{
    width: 100%;
    font-size: 18px;
    text-align: center;
    padding: 25px;
    margin-top: 20px;

    color: rgb(94, 91, 91);
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}
.copyright i{
    color: #ff004f;
    padding: 6px;
}
#msg{
    font-size: 25px;
    color: #4ba93a;
    margin-top: 2px;
    display: block;
}






/* ------------------------Contactme end--------------------------------- */


/* ----------------------- Responsive -------------------- */
nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #e24837;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        padding: 0;
        background-color: transparent;
        display: block;
        margin: 25px;

    }
    nav ul .fa-solid{
       position: absolute;
       top: 25px;
       left: 25px;
       cursor: pointer;
    }
    .nav-bar img{
        height: 60px;
        width: 45px;
        margin-left: -20px;
    }
    #contact-form {
        margin-left: 20px;
        margin-right: 20px;
      }
      
      .row.Second-row {
        margin-left: 0;
      }
      
      .first-row p,
      .contact-icon {
        margin-left: 0;
      }
      
      .Second-row form {
        margin-left: 0;
      }
      .copyright {
        font-size: 14px;
        padding: 10px;
      }
      
      .copyright i {
        padding: 2px;
      }

    
    
}


@media only screen and (max-width: 768px) {

    /* Nav bar */
    nav ul li a{
        color:rgb(33, 31, 31);
        text-decoration: none;
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        padding: 5px;
    }

    /* About section */
    .boxs {
        flex-direction: column;
        align-items: center;
    }
    .box1 {
        margin: 100px 0 50px 0;
        text-align: center;
    }
    .box2 img {
        display:none;
    }
    
    /* Small resume section */
    .gird {
        flex-direction: column;
        align-items: center;
    }
    .gird1 img {
        height: 300px;
    }
    .gird2 {
        margin-top: 50px;
        margin-left: 40px;
        margin-right: 40px;
    }
    .gird2 .subtitle {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
   
    /* My services section */
    #my-services {
        margin: 50px;
    }
    .ser-sections {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
        margin-top: 30px;
    }
    #my-services .subtitle {
        font-size: 2.5rem;
        margin-bottom: 20px;
        text-align: center;
    }
    #portfolio{
        margin: 50px;
    }
    .work-list{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
        margin-top: 30px;
    }
    #portfolio .subtitle{
        font-size: 2.5rem;
        margin-bottom: 20px;
        text-align: center;
    }
   

}